body {
    margin: 2em;
}

#grid {
    /* height: 800px; */
    width: 800px;
    margin: auto;
}

#grid > div {
    display: flex;
    flex: 1;
    height: 50px;
}

[class^="column"] {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50px;
    border: 1px solid rgb(192, 192, 192);
}