html {
    margin: 2em;
}

.content {
    display: flex;
    margin: auto;
    width: 1000px;
}

button {
    font-size: 16px;
    padding: 10px;
    width: 140px;
    margin-right: 20px;
}

#grid {
    height: 800px;
    width: 800px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#grid > * {
    display: flex;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hovered {
    background-color: rgb(255, 159, 175);
    animation-duration: 1s;
    animation-name: fade;
    animation-fill-mode: both;
}

.hovered:hover {
    opacity: 0.5;
}

@keyframes fade {
    0% { filter: brightness(0.7); }
    33% { filter: brightness(0.85); }
    100% { filter: brightness(1); }
}