html {
    margin: 2em;
}

.content {
    display: flex;
    /* margin: auto; */
    width: 1150px;
}

button {
    font-size: 16px;
    padding: 10px;
    width: 140px;
    margin-right: 20px;
}

.showSize {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    font-size: 24px;
    text-align: center;
    margin-left: 20px;
    width: 140px;
    height: 40px;
    border: 1px solid gray;
    background-color: antiquewhite;
}

#grid {
    height: 800px;
    width: 800px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#grid > * {
    display: flex;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 50% 20% / 10% 30%;
}

.blackout {
    background-color: 'black';
    filter: brightness(0%);
}

.hovered:hover {
    animation-name: randomColor;
    background-image: linear-gradient(92deg,#ebaf9d,#75dd9d);
    background-clip: text;
    animation: randomColor 100ms linear;
}

@keyframes randomColor {
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(180deg); }
}

.s1 { filter: brightness(90%); }
.s2 { filter: brightness(80%); }
.s3 { filter: brightness(70%); }
.s4 { filter: brightness(60%); }
.s5 { filter: brightness(50%); }
.s6 { filter: brightness(40%); }
.s7 { filter: brightness(30%); }
.s8 { filter: brightness(20%); }
.s9 { filter: brightness(10%); }

